.icon-left{
position: absolute;
top: 10px;
left: 10px;



}


.icon-right{
position:absolute;
bottom: 10px;
right: 10px;
}

.season-display.winter i{
    color: paleturquoise;
}

.season-display.summer i{
    color:orange
}


.season-display{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: fantasy;

}

.winter{
    background-color: aliceblue;
}

.summer{
    background-color: rgba(236, 116, 72, 0.993);
}